@charset "UTF-8";
/* CSS Document */

.settings {
	width: 1778px;
	height: 1000px;
	position: relative;
}

.back {
	width: 200px;
	height:300px;
	position: absolute;
	top: 300px;
	right:50px;
	
}

.button {
	width: 160px;
	height:120px;
}

.button img.image-hover {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	object-fit: contain;
	opacity: 0;
	transition: opacity .2s;
}

.button:hover img.image-hover {
	opacity: 1;
}

.arrow-box {
	width: 160px;
	height:100px;
	margin-top: 20px;
}

img.arrow {
	margin: auto auto auto 25px;
}

.chat-box {
	width: 250px;
	height: 200px;
	position: absolute;
	right: 275px;
	bottom: 305px;
	z-index: 1;
}

.chat-bubble {
	margin: 80px auto auto 50px;
}

.flex-wrapper {
	display: flex;
	height: 80px;
}

img.try-again {
	margin-left: 200px;
	transition: margin 0.2s ease-in-out;
}

.try-again:hover {
	transform: scale(1.5);
}

.protagonist {
	width: 200px;
	height: 250px;
	position: absolute;
	right: 400px;
	bottom: 180px;
}