@charset "UTF-8";
/* CSS Document */

.settings {
	width: 1778px;
	height: 1000px;
	position: relative;
}

.protagonist {
	width: 200px;
	height: 250px;
	position: absolute;
	right: 300px;
	bottom: 180px;
}